<head>
    <link rel="stylesheet" href="/static/gamestats.css">
  
    <script src="/static/gamestats.js"></script>
</head>
  
<h1 class="title" id="title">
    <a href="/">
        CUT Game Stats!
    </a>
</h1>

<p class="input-game">
    <br> <br> <br>
    <input id="game_input">
    &nbsp &nbsp &nbsp &nbsp &nbsp
    <button class="change-game-button" onclick="fetchGame()">
        Submit Game
    </button>
</p>

<p class="game-stats-display", id="game_stats_display">
    <br> <br> <br>
    Some game stats will display here
</p>
