<head>
    <link rel="stylesheet" href="/static/gamestats.css">
    <script src="/static/header.js" type="text/javascript" defer></script>
    <script src="/static/gamestats.js"></script>
</head>
  
<body>
    <header-component></header-component>
</body>

<p class="input-game">
    <br> <br> <br>
    <select id="change_game_input" onchange="fetchGame()">
        {{DropdownOptions|safe}} 
    </select>
    &nbsp &nbsp &nbsp &nbsp &nbsp
</p>

<p class="game-stats-display", id="game_stats_display">
    <br> <br> <br>
    Some game stats will display here
</p>
