<!DOCTYPE html>
<head>
    <title>Home | CUT Stats</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.carleton.edu/uploads/sites/378/2023/09/perfect-cut-logo.png?resize=1024,1024">

    <link rel="stylesheet" href="/static/styles.css">
  
    <script src="/static/header.js" type="text/javascript" defer></script>
</head>
  

<header-component></header-component>
<h1> </h1>
<h1 class="body">
    Welcome to the Carleton Ultimate Team stats page. There are {{gamenumber}} games in the database.
</h1>
<h1> </h1>
<img src="https://i.ibb.co/x1zV5FP/team.png" alt="team photo" height="300" width="500">