<head>
    <link rel="stylesheet" href="/static/styles.css">
  
    <script src="/static/import.js"></script>
</head>
  
<h1 class="title" id="title">
    <a href="/">
        CUTRULES
    </a>
    <div class="links">
        <a href="/stats/players">
            Player Stats
        </a>
        <a href="/import">
            Import
        </a>
    </div>
</h1>

<form action="/import" method="post" enctype="multipart/form-data">
    <label for="file">File</label>
    <input id="file" name="file" type="file" />
    <button>Upload</button>
</form>