<!DOCTYPE html>
<style>
    body {
        background-image: url('sdFinalProject/images/background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    </style>
<head>
    <title>Import Game | CUT Stats</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.carleton.edu/uploads/sites/378/2023/09/perfect-cut-logo.png?resize=1024,1024">

    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/header.js" type="text/javascript" defer></script>
</head>
  

<header-component></header-component>

<form action="/api" method="post" enctype="multipart/form-data">
    <label for="file">File</label>
    <input id="file" name="file" type="file" />
    <button>Upload</button>
</form>