<!DOCTYPE html>
<head>
    <title>Import Game | CUT Stats</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.carleton.edu/uploads/sites/378/2023/09/perfect-cut-logo.png?resize=1024,1024">

    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/header.js" type="text/javascript" defer></script>
</head>
  

<header-component></header-component>

<h1> </h1>

<h1>Welcome to the import page</h1>
<p> Please make sure the file is a .csv and is properlly formatted</p>

    <h1> </h1>
    <h1> </h1>

<form action="/api" method="post" enctype="multipart/form-data">
    <label for="file"></label>
    <input id="file" name="file" type="file" />
    <button>Upload</button>
</form>