<head>
    <link rel="stylesheet" href="/static/playerStats.css">
  
    <script src="/static/playerStats.js"></script>
</head>
<body>
    <h1 class="title" id="title">
        PLAYER STATS
    </h1>
    
    <table id="statsTable" class="statsTable">
        <tr>
            <th onclick="sortTable(0)">Player</th>
            <!-- <th>Games</th> -->
            <th onclick="sortTable(1)">Points</th>
            <th  onclick="sortTable(2)">O Points</th>
            <th onclick="sortTable(3)">D Points</th>
            <!-- <th>PPG</th>
            <th>Hold Chances</th> -->
            <th onclick="sortTable(4)">Holds</th>
            <!-- <th>Break Chances</th> -->
            <th onclick="sortTable(5)">Breaks</th>
            <th onclick="sortTable(6)">EZ scores</th>
        </tr>
    </table>
    
    <!-- create stats table -->
    <script>
        var table = document.getElementById("statsTable");
    
        var playerStats = JSON.parse({{stats|tojson}});

        let rowIndex = 1;
        for (const [player, stats] of Object.entries(playerStats)) {
            let row = table.insertRow(rowIndex++); // skip over header
            for(var i = 0; i < stats.length; i++) {
                var cell = row.insertCell(i);
                cell.innerHTML = stats[i]
            }
        }
        console.log(playerStats);
    </script>
</body>  