<head>
    <link rel="stylesheet" href="/static/playerStats.css">
  
    <script src="/static/playerStats.js"></script>
</head>
<body>
    <h1 class="title" id="title">
        PLAYER STATS
    </h1>
    
    <div style="overflow-x:auto;">
        <table id="statsTable">
            <thead>
                <tr id="statsHeaderRow"></tr>
            </thead>
            <tbody id ="statsTableBody"></tbody>
        </table>
    </div>
    
    <script>
        // initial function calls
        populateHeader();
        createStatsTable(JSON.parse({{stats|tojson}}));
        sortTable(1);
    </script>
</body>  