<!DOCTYPE html>
<head>
    <title>Player Stats | CUT Stats</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.carleton.edu/uploads/sites/378/2023/09/perfect-cut-logo.png?resize=1024,1024">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/playerStats.css">
    <script src="/static/playerStats.js"></script>
    <script src="/static/header.js" type="text/javascript" defer></script>
</head>
<body>
    <header-component></header-component>
    <main>
        <h1>Player Stats</h1>
        <div>
            <table id="statsTable">
                <thead>
                    <tr id="statsHeaderRow">
                        <th>Player</th>
                    </tr>
                </thead>
                <tbody id="statsTableBody">
                </tbody>
            </table>
        </div>
    </main>
</body>
<script>
    // Initialize player stats page
    populateStatsTableHeader(JSON.parse({{statCategories|tojson}}), JSON.parse({{tooltips|tojson}}));
    createStatsTable(JSON.parse({{stats|tojson}}));
    sortTable(1);
</script>