<head>
    <link rel="stylesheet" href="/static/playerStats.css">
  
    <script src="/static/playerStats.js"></script>
</head>
<body>
    <h1 class="title" id="title">
        PLAYER STATS
    </h1>
    
    <table id="statsTable" class="statsTable">
        <tr>
            <th>Player</th>
            <!-- <th>Games</th> -->
            <th>Points</th>
            <!-- <th>O</th>
            <th>D</th>
            <th>PPG</th>
            <th>Hold Chances</th> -->
            <th>Holds</th>
            <!-- <th>Break Chances</th>
            <th>Breaks</th> -->
        </tr>
    </table>
    
    <script>
        var table = document.getElementById("statsTable");
    
        var playerData = JSON.parse{{stats|tojson}};
        // JSON.parse("{{ test }}")
        console.log(playerData);
        for(var i = 0; i < playerData.length; i++)
            var row = table.insertRow(i+1); // skip over header
            console.log("row = " + playerData[i])
            for(var j = 0; j < 3; j++) {
                var cell = row.insertCell(j);
                console.log("playerData[i][j] = " + playerData[i][j])
                cell.innerHTML = playerData[i][j]
            }
    
        console.log(playerData);
    </script>
</body>  