<!-- File contributers: Daniel, Nathan-->

<!DOCTYPE html>
<head>
    <title> Upload Success! | CUT Stats</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.carleton.edu/uploads/sites/378/2023/09/perfect-cut-logo.png?resize=1024,1024">

    <link rel="stylesheet" href="/static/styles.css">

    <script src="/static/header.js" type="text/javascript" defer></script>
</head>

<header-component></header-component>

<h1> </h1>

<p class="body">
    Successfully uploaded CUT vs. {{opponent}}! Return to the import page to upload another game.
</p>