.game-stats-display{
  font-weight: bold;
}

.game-flow-title{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.game-flow-description{
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}

.game-flow-bar {
  margin: auto;
  width: 80%;
  height: 30px;
  border: none;
  border-width: 5px;
  border-color: black;
  border-radius: 5px;
  background-color: #b3b3b3;
  color: white;
  text-align: center;
}

.bar-opp-breaks {
  height: 30px;
  background-color: red;
  float: left;
}

.bar-opp-holds {
  height: 30px;
  width: 25%;
  background-color: pink;
  float: left;
}

.bar-cut-holds {
  height: 30px;
  width: 10%;
  background-color: springgreen;
  float: left;
}

.bar-cut-breaks {
  height: 30px;
  width: 10%;
  background-color: green;
  float: left;
}



.hucks-title{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.hucks-description{
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}

.hucks-bar {
  margin: auto;
  width: 80%;
  height: 30px;
  border: none;
  border-width: 5px;
  border-color: black;
  border-radius: 5px;
  background-color: #b3b3b3;
  color: white;
  text-align: center;
}

.bar-hucks-incomplete {
  height: 30px;
  width: 10%;
  background-color: red;
  float: left;
}

.bar-hucks-complete {
  height: 30px;
  width: 10%;
  background-color: green;
  float: left;
}


.endzone-title{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.endzone-description{
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}

.endzone-bar {
  margin: auto;
  width: 80%;
  height: 30px;
  border: none;
  border-width: 5px;
  border-color: black;
  border-radius: 5px;
  background-color: #b3b3b3;
  color: white;
  text-align: center;
}

.bar-endzone-not-scores {
  height: 30px;
  width: 10%;
  background-color: red;
  float: left;
}

.bar-endzone-scores {
  height: 30px;
  width: 10%;
  background-color: green;
  float: left;
}


.blocks-title{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.blocks-description{
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}

.blocks-bar {
  margin: auto;
  width: 80%;
  height: 30px;
  border: none;
  border-width: 5px;
  border-color: black;
  border-radius: 5px;
  background-color: #b3b3b3;
  color: white;
  text-align: center;
}

.bar-blocks-unforced {
  height: 30px;
  width: 10%;
  background-color: orange;
  float: left;
}

.bar-blocks-forced {
  height: 30px;
  width: 10%;
  background-color: purple;
  float: left;
}


.turnovers-title{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.turnovers-description{
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}

.turnovers-bar {
  margin: auto;
  width: 80%;
  height: 30px;
  border-width: 5px;
  border-color: black;
  border-radius: 5px;
  background-color: #b3b3b3;
  color: white;
  text-align: center;
}

.bar-turnovers-unforced {
  height: 30px;
  width: 10%;
  background-color: orange;
  float: left;
}

.bar-turnovers-forced {
  height: 30px;
  width: 10%;
  background-color: purple;
  float: left;
}

