table {
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 90%;
    text-align: center;
}
th td {
    padding: 12px 15px;
}
thead tr {
    background-color: #009879;
    color: #ffffff;
}

/* This is a placeholder for an arrow*/
thead th::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 3px solid transparent;
    margin-left: 5px;
    margin-right: 5px;
}
.arrow-down::before {
    vertical-align: bottom;
    border-top: 8px solid;
    border-bottom: 3px solid transparent;
}
.arrow-up::before {
    vertical-align: top;
    border-bottom: 8px solid;
    border-top: 3px solid transparent;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}
tbody tr:hover {
    background-color: #517ac5;
}
tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.selected-td {
    background-color: #517ac5;
}
.selected-th {
    background-color: #02755e;
}

.clickable:hover {
    cursor: pointer;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 0 1em;
    border-radius: 6px;

    text-align:left;

    /* Position the tooltip text - see examples below! */
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    position: absolute;
    z-index: 1;

    opacity: 0;
    transition: none;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    opacity: 1;
    transition: opacity 0.5s ease-in 0.5s;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltiptext-title {
    font-size: 0.75em;
    font-weight: bold;
}
.tooltiptext-body {
    font-size: 0.5em;
}