table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.clickable:hover {
    cursor: pointer;
}

.arrow-down::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid;
    border-bottom: 3px solid transparent;
    margin-left: 5px;
    margin-right: 5px;
}

.arrow-up::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid;
    border-top: 3px solid transparent;
    margin-left: 5px;
    margin-right: 5px;
}

th td {
    padding: 12px 15px;
}

tbody tr:hover {background-color: #f3f3f3;}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.selected-td {
    background-color: #ededed;
}

.selected-th {
    background-color: #039d7e;
}